.inputChat {
  background-color: var(--blue);
  position: fixed;
  right: 0;
  bottom: 10%;
}
.inputChat input,
button {
  position: inherit;
  right: 0;
  margin: 20px;
}
.inputChat input {
  width: 65%;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  box-shadow: var(--blue-shadow);
}
.sendIcon {
  font-size: 1.75rem;
  padding-top: 4px;
}
.inputChat button {
  border-radius: 5px;
  background: var(--blue);
  color: white;
  padding: 0 3em;
  font-weight: bold;
}
