@import url('../../base/main.css');

.message__sender {
  width: 40%;
  background-color: var(--light-blue);
  padding: 1rem 0.7rem;
  border-radius: 5px;
  margin: 1rem 5rem;
}

.message__me {
  display: flex;
  width: 40%;
  background-color: var(--orange);
  padding: 1rem 0.7rem;
  border-radius: 5px;
  margin: 1rem 2rem 1rem calc(60% - 3rem);
}
