@import url('../../../base/main.css');
@import url('../../UserIcon/UserIcon.css');

.activeSidebar {
  background: var(--blue);
  box-shadow: var(--blue-shadow);
  border-radius: 5px;
  transition: 0.3s;
}

.contactSidebarCard {
  padding: 5px 7px;
  display: flex;
  border-radius: 5px;
  transition: 0.3s;
}

.contactSidebarCard:hover {
  box-shadow: var(--blue-shadow);
}
