@import url('../../base/main.css');
.relations {
  width: 25%;
  position: relative;
  padding: 0 7.5px;
  background: var(--light-blue);
  height: calc(100vh - 120px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar__footer {
  background-color: var(--light-blue);
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  width: inherit;
  justify-content: space-evenly;
  padding: 9px 7.5px;
}

.userIcon,
.searchIcon {
  cursor: pointer;
  font-size: 26px;
  color: var(--gray);
  background-color: transparent;
  font-weight: 300;
  border-bottom: 4px transparent solid;
}

.userIcon.active,
.searchIcon.active {
  border-bottom: 4px var(--blue) solid;
  background-color: transparent;
  color: var(--blue);
}

.userIcon:hover,
.searchIcon:hover {
  color: var(--blue);
}
