@import url("../../base/main.css");
.relations {
  margin-top: 5px;
  width: 370px;
  /* margin-left: 10px; */
  background: var(--light-blue);
}

.search_bar {
  margin-left: 10px;
}

.search_bar input {
  border-radius: 3px;
  height: 25px;
  border: none;
  width: 250px;
}
.search_bar input:focus {
  border: 1px solid var(--blue);
}
.search_bar button {
  height: 28px;
  padding-top: 2px;
  font-size: 18px;
  background: var(--blue);
  width: 65px;
  border-radius: 3px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
}
