@import url("../../base/main.css");

.contactCard {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-blue);
    box-shadow: var(--blue-shadow);
    padding: 10px;
    border-radius: 20px;
    min-width: 400px;
}

.closeButton {
    position: absolute;
    left: 20px;
    font-size: 2rem;
    color: var(--blue);

}

.contactCard__userInfo {
    border-bottom: rgb(170, 170, 170) 2px solid;
    padding: 20px;
}

.contactCard-name, h1 {
    font-size: 2rem;
    color: var(--blue);
    font-weight: 500;
    text-align: center;
    margin: 3rem;
}

h1 {
    margin: 10px;
}

.contactCard__available.green {
    background-color: var(--blue);
}

.contactCard__available {
    text-align: center;
    position: relative;
    background-color: var(--gray);
    padding: 5px 10px;
    color: white;
    border-radius: 9999px;
    font-size: 1.15rem;
}

.contactCard__available.green::before {
    background-color: var(--green);
}

.contactCard__available::before {
    content: '';
    position: absolute;
    height: 1rem;
    width: 1rem;
    left: 10px;
    top: 25%;
    border-radius: 50%;
    background-color: rgb(189, 189, 189);
}

.contactCard__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.blockContact, .deleteChat {
    display: flex;
    align-items: center;
    text-align: left;
    width: 90%;
    color:var(--blue);
    padding: 10px;
    font-size: 1.25rem;
    margin: 10px 0;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: var(--blue) 2px solid;
    transition: 0.3s;

}

.blockContact:hover, .deleteChat:hover {
    background-color: var(--blue);
    color: var(--light-blue)
}