@import url(../../base/main.css);

.threeDotsDiv {
    position: relative;
    height: 30px;
    width: 10px;
    padding: 5px 10px;
}

.threeDots.white {
    background-color: white;
}

.threeDots.white::before{
    background-color: white;
}

.threeDots.white::after{
    background-color: white;
}

.threeDots {
    position: relative;
    background-color: var(--blue);
    height: 7px;
    width: 7px;
    border-radius: 50%;
}

.threeDots::before {
    position: absolute;
    content: '';
    top: 10px;
    background-color: var(--blue);
    height: 7px;
    width: 7px;
    border-radius: 50%;
}

.threeDots::after {
    position: absolute;
    content: '';
    top: 20px;
    background-color: var(--blue);
    height: 7px;
    width: 7px;
    border-radius: 50%;
}

.threeDotsMenu {
    position: absolute;
    bottom: -3em;
    min-width: 10rem;
    display: inline-block;
    background-color: var(--light-blue);
    border-radius: 10px;
    box-shadow: var(--blue-shadow);
}

.threeDotItem {
    font-size: 1.15rem;
    padding: 15px 25px; 
    transition: 0.5s;
}

.threeDotItem:hover {
    background-color: rgb(191, 219, 255);
}